.DS_Store

npm-debug.log
node_modules
.sass-cache
bower_components
tmp/*

*.log
sitemap.xml
sitemap.xml.gz
wp-config.php

html/assets/advanced-cache.php
html/assets/backup-db/
html/assets/backups/
html/assets/blogs.dir/
html/assets/cache/
html/assets/upgrade/
html/assets/uploads/
html/assets/wp-cache-config.php
html/assets/plugins/hello.php

html/wp.tar.gz

vendor